<div class="hero-unit">
    <h1>Cloudsponge</h1>
    <p>Import contacts the easy way!</p>

    <p class="muted">
      <!--<a class="btn btn-small cs_import">Add from Address Book</a>-->
      <a class="deep-link delayed" onclick="return cloudsponge.launch('csv');">CSV</a><br />
      <a class="deep-link delayed" onclick="return cloudsponge.launch('yahoo');">Yahoo</a><br />
      <a class="deep-link delayed" onclick="return cloudsponge.launch('windowslive');">Windows Live</a><br />
      <a class="deep-link delayed" onclick="return cloudsponge.launch('gmail');">Gmail</a><br />
      <a class="deep-link delayed" onclick="return cloudsponge.launch('aol');">Aol</a><br />
      <a href="#" class="deep-link" onclick="return cloudsponge.launch('plaxo');">Plaxo</a><br />
      <a href="#" class="deep-link" onclick="return cloudsponge.launch('addressbook');">Address Book</a><br />
      <a href="#" class="deep-link" onclick="return cloudsponge.launch('outlook');">Outlook</a><br />
      <br>
      <!-- This textarea will be populated with the contacts returned by CloudSponge -->
      <textarea id="contact_list" style="width:450px;height:82px"></textarea>
    </p>
</div>
